.footer {
    background-color: #ffffff;
    color: #000000;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer-logo {
    max-width: 100%; 
    max-height: 50px; 
    height: auto; 
    margin-right: 10px;
  }
  

.footer-copyright {
    text-align: center;
    color: #000000;
}

.footer-contact {
    text-align: right;
}

@media (max-width: 767px) {
    .footer-contact {
      text-align: center;
      margin-top: 10px;
    }
}