/*style jumotron*/
.jumbotron {
    background-image: url('gambar1.jpg');
    background-size: cover;
    height: 500px;
    text-align: right;
}

.jumbotron .btn{
    background-color: #9E907B;
    border: none;
    border-radius: 25px;
    padding-right: 25px;
    padding-left: 25px;
}

/*style carousel*/
/* .carousel-item {
    height: 600px;
} */

/* .carousel-item .btn{
    background-color: black;
    border: none;
    border-radius: 25px;
    padding-right: 25px;
    padding-left: 25px;
} */

.modal-content {
    background: #EFE9E2;
}

.price, tr th, tfoot tr td{
    background: #D8CEBF !important;
    color: #000;
    font-family: 'Italiana', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

tbody tr td {
    background: #9E907B !important; 
    font-size: 25px;
    font-family: 'Inria Serif', serif;
    display: grid;
    align-items: center;
}

.table {
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.table:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
}

.footer {
    background-color: #ffffff;
    color: #000000;
    padding: 20px 0;
    position: relative;
    width: 100%;
    bottom: 0;
}

.footer-logo {
    max-width: 100%; 
    max-height: 50px; 
    height: auto; 
    margin-right: 10px;
  }
  

.footer-copyright {
    text-align: center;
    color: #000000;
}

.footer-contact {
    text-align: right;
}

@media (max-width: 767px) {
    .footer-contact {
      text-align: center;
      margin-top: 10px;
    }
}